.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif;
}

body {
    margin: 0px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    margin-left: 5px;
    padding: 6px 10px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}